<h2>Import Libraries</h2>

In [6]:
import numpy as np # Data manipulation
import pandas as pd # Numerical operations
import matplotlib.pyplot as plt # Plotting and visualization
import seaborn as sns # Statistical data visualization
import warnings  # Suppress warnings
warnings.filterwarnings("ignore")

<h2>Import Data</h2>

In [9]:
# Read CSV
df = pd.read_csv('/Users/kammiehui/Jupyter Notebook/DataSet/Airbnb_Open_Data.csv')
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

<h3>Converting columns into snake case and removing irrelevant features </h3>

In [12]:
df.rename(lambda x: x.lower().strip().replace(' ', '_'), axis='columns', inplace=True)

In [14]:
print(f"DataFrame Shape (rows, columns) = {df.shape}")
print(df.columns)

DataFrame Shape (rows, columns) = (102599, 26)
Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

<H3>Overview Listing Reference</H3>

In [17]:
def data_overview(df, sort_by='Null %', ascending=False):
    summary = []

    for col in df.columns:
        col_dtype = df[col].dtype
        unique_vals = df[col].nunique()
        null_vals = df[col].isnull().sum()
        total_vals = len(df)
        null_pct = round((null_vals / total_vals) * 100, 2)

        summary.append([
            col,
            col_dtype,
            unique_vals,
            null_vals,
            null_pct
        ])
    
    df_summary = pd.DataFrame(
        summary,
        columns=['Column', 'Data Type', 'Unique Values', 'Null Values', 'Null %']
    )

    df_summary = df_summary.sort_values(by=sort_by, ascending=ascending)

    return df_summary
data_overview(df)

,Column,Data Type,Unique Values,Null Values,Null %
25,license,object,1,102597,100.00
24,house_rules,object,1976,52131,50.81
19,last_review,object,2477,15893,15.49
20,reviews_per_month,float64,1016,15879,15.48
9,country,object,1,532,0.52
23,availability_365,float64,438,448,0.44
4,host_name,object,13190,406,0.40
17,minimum_nights,float64,153,409,0.40
21,review_rate_number,float64,5,326,0.32
22,calculated_host_listings_count,float64,78,319,0.31
3,host_identity_verified,object,2,289,0.28
16,service_fee,object,231,273,0.27
1,name,object,61281,250,0.24
15,price,object,1151,247,0.24
14,construction_year,float64,20,214,0.21
18,number_of_reviews,float64,476,183,0.18
10,country_code,object,1,131,0.13
11,instant_bookable,object,2,105,0.10
12,cancellation_policy,object,3,76,0.07
5,neighbourhood_group,object,7,29,0.03
6,neighbourhood,object,224,16,0.02
8,long,float64,17774,8,0.01
7,lat,float64,21991,8,0.01
0,id,int64,102058,0,0.00
2,host_id,int64,102057,0,0.00
13,room_type,object,4,0,0.00

<H3>Examine and Remove Duplicate Rows</H3>

In [20]:
duplicated_rows = df.duplicated().sum()
print(f"\nTotal duplicated rows: {duplicated_rows}")

Total duplicated rows: 541

In [22]:
duplicate_rows = df[df.duplicated()].sort_values(by='id', ascending=False)
duplicate_rows

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
102241,35607902,Modern NEW Room|PRIVATE BATHROOM,7431680152,verified,Dariia & Jacob,Brooklyn,Bedford-Stuyvesant,40.68990,-73.94074,United States,...,$57,30.0,1.0,11/4/2021,0.25,2.0,10.0,365.0,NaN,NaN
102240,35607349,Modern & Bright Queen Bedroom Midtown East,57770451783,unconfirmed,David,Manhattan,Upper East Side,40.76132,-73.96064,United States,...,$28,30.0,1.0,11/4/2021,0.25,3.0,4.0,307.0,NaN,NaN
102239,35606797,Bright and Beautiful Top Floor Two Bedrooms,65331079885,unconfirmed,Frankie,Brooklyn,Carroll Gardens,40.68383,-73.99281,United States,...,$205,30.0,18.0,11/4/2021,0.63,2.0,1.0,3.0,NaN,NaN
102238,35606245,Che' Randall Tre SoBro 10 Minutes to Manhattan!,27445218777,unconfirmed,Rawn,Bronx,Longwood,40.81992,-73.90790,United States,...,$239,30.0,9.0,11/4/2021,0.34,5.0,3.0,338.0,NaN,NaN
102237,35605693,"Huge Solo Room near Midtown, 61st station & st...",75670762826,unconfirmed,Kaz,Queens,Woodside,40.74482,-73.90660,United States,...,$234,30.0,3.0,11/4/2021,0.18,4.0,161.0,365.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102478,6028371,*JAMES* Amazing Spacious 2 Bedroom- Bright!,37678424985,verified,Juliana,Manhattan,Upper East Side,40.76035,-73.96133,United States,...,$161,30.0,8.0,6/11/2019,0.27,4.0,34.0,411.0,Be courteous and respectful to people in the h...,NaN
102477,6027818,*ENCHANTMENT* Upper East Side 2 bedroom- Sunny!,73401481508,unconfirmed,Juliana,Manhattan,Upper East Side,40.76244,-73.96031,United States,...,$108,30.0,9.0,9/30/2018,0.20,5.0,34.0,411.0,Please treat it as it were your own home and b...,NaN
102476,6027266,ACADIA Spacious 2 Bedroom Apt - Close to Hospi...,95854111798,verified,Juliana,Manhattan,Upper East Side,40.76021,-73.96157,United States,...,$117,30.0,10.0,11/18/2018,0.22,5.0,34.0,211.0,No Smoking No Pets,NaN
102475,6026714,Close to East Side Hospitals- Modern 2 Bedroom...,31072202372,verified,Juliana,Manhattan,Upper East Side,40.76249,-73.96217,United States,...,$57,30.0,6.0,1/31/2019,0.14,3.0,34.0,67.0,"The quieter the better, but otherwise make you...",NaN
102474,6026161,Upper East Side 2 bedroom- close to Hospitals-,65193709566,verified,Juliana,Manhattan,Upper East Side,40.76222,-73.96030,United States,...,$21,30.0,2.0,6/8/2019,0.21,3.0,34.0,157.0,NaN,NaN

In [24]:
#Keep the first row and drop the 2nd row duplicate
df.drop_duplicates(keep='first', inplace=True)

In [26]:
print(f"DataFrame Shape (rows, columns) = {df.shape}")
# duplicates has been removed

DataFrame Shape (rows, columns) = (102058, 26)

<h3>Drop columns which is not helpful for further analysis</h3>

In [29]:
df = df.drop(['name', 'host_id', 'host_name', 'country', 'country_code', 'license'], axis =1)

### Replace typo values

<h4> There are some typo in <code>neighbourhood_group</code>. We will standardise them here.</h4>

In [39]:
df['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        43557
Brooklyn         41630
Queens           13197
Bronx             2694
Staten Island      949
brookln              1
manhatan             1
Name: count, dtype: int64

In [41]:
# Replace typo values
df['neighbourhood_group'].replace(['manhatan','brookln'],['Manhattan','Brooklyn'],inplace=True)

In [43]:
# Verify Replacement
df['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        43558
Brooklyn         41631
Queens           13197
Bronx             2694
Staten Island      949
Name: count, dtype: int64

<h3>Remove $ and ' , ' symbols in  <code>price</code>  and <code>service_fee</code> columns. </h3>

In [48]:
print(df['price'].value_counts())

price
$206       135
$1,056     131
$481       129
$833       127
$573       126
          ...
$923        57
$369        57
$786        54
$89         53
$187        52
Name: count, Length: 1151, dtype: int64

In [50]:
df[['price', 'service_fee']].dtypes

price          object
service_fee    object
dtype: object

In [52]:
# to remove $ and , in  price and service fee columns and change to float type
# will handle NaN value later
df['price'] = pd.to_numeric(df['price'].str.replace('$', '').str.replace(',', ''), errors='coerce')
df['service_fee'] = pd.to_numeric(df['service_fee'].str.replace('$', '').str.replace(',', ''), errors='coerce')

In [54]:
# confirm changes is made
print(df['price'].dtype)  
print(df['service_fee'].dtype)

float64
float64

<h3>Continue Handling <code>price</code> and <code>service_fee</code> Columns,  replace NaN by Mean Value. </h3>

In [61]:
#Now handle the NaN value of price and service_fee
avg_price = round(df['price'].astype('float').mean(axis=0),0)
print(f"Mean Price is : {avg_price}")

avg_sev_fee = round(df['service_fee'].astype('float').mean(axis=0),0)
print(f"Mean Service Charge is : {avg_sev_fee}")

Mean Price is : 625.0
Mean Service Charge is : 125.0

<h4> Now we have the mean value to replace null value in <code>price</code> and <code>service_fee</code> Columns. </h4>

In [64]:
df['price'].replace(np.nan, avg_price, inplace = True)
df['service_fee'].replace(np.nan,avg_sev_fee, inplace = True)

<h3>Handling Incorrect / Values </h3>
<h4> Negative values found on <code>minimum_nights</code> and <code>availability_365</code>, here will replace negative values to NaN first and then replace NaN with top Count</h4>

In [67]:
print(df['minimum_nights'].value_counts().sort_index(ascending=True))
print(df['availability_365'].value_counts().sort_index(ascending=True))

minimum_nights
-1223.0    1
-365.0     1
-200.0     1
-125.0     1
-12.0      1
          ..
 1000.0    2
 1250.0    1
 2645.0    1
 3455.0    1
 5645.0    1
Name: count, Length: 153, dtype: int64
availability_365
-10.0      37
-9.0       47
-8.0       50
-7.0       36
-6.0       31
           ..
 423.0     48
 424.0     38
 425.0     49
 426.0     46
 3677.0     1
Name: count, Length: 438, dtype: int64

In [69]:
# Identify how many rows where values are negative
negative_minimum_nights = df[df['minimum_nights'] < 0]
negative_availability = df[df['availability_365'] < 0]

# Display counts of negative values
print(f"Negative 'minimum_nights': {negative_minimum_nights.shape[0]}")
print(f"Negative 'availability_365': {negative_availability.shape[0]}")

Negative 'minimum_nights': 13
Negative 'availability_365': 431

In [71]:
# we will first replace with NaN values first and then clean up NaN value one time 
df['minimum_nights'] = df['minimum_nights'].apply(lambda x: x if x >= 0 else np.nan)
df['availability_365'] = df['availability_365'].apply(lambda x: x if x >= 0 else np.nan)

<h3>Replace NaN with Top Count Value</h3>

In [76]:
# REPLACE MOST VALUE COUNT for below columns

print(df['host_identity_verified'].value_counts())
print(df['cancellation_policy'].value_counts())
print(df['review_rate_number'].value_counts())
print(df['minimum_nights'].value_counts())
print(df['availability_365'].value_counts())
print(df['calculated_host_listings_count'].value_counts())
print(df['number_of_reviews'].value_counts())

host_identity_verified
unconfirmed    50944
verified       50825
Name: count, dtype: int64
cancellation_policy
moderate    34162
strict      33929
flexible    33891
Name: count, dtype: int64
review_rate_number
5.0    23251
4.0    23200
3.0    23130
2.0    22972
1.0     9186
Name: count, dtype: int64
minimum_nights
1.0      25290
2.0      23495
3.0      16038
30.0     11554
4.0       6606
         ...
74.0         1
198.0        1
81.0         1
43.0         1
825.0        1
Name: count, Length: 143, dtype: int64
availability_365
0.0       23448
365.0      2484
364.0      1162
89.0        746
1.0         731
          ...
375.0        32
412.0        32
391.0        30
401.0        30
3677.0        1
Name: count, Length: 428, dtype: int64
calculated_host_listings_count
1.0     63121
2.0     14380
3.0      6536
4.0      3529
5.0      1977
        ...
86.0       21
22.0       20
55.0       15
46.0        9
80.0        7
Name: count, Length: 78, dtype: int64
number_of_reviews
0.0      15673
1.0      10348
2.0       7129
3.0       5341
4.0       4125
         ...
567.0        1
592.0        1
797.0        1
966.0        1
300.0        1
Name: count, Length: 476, dtype: int64

In [78]:
# Replace Nan Value with top count
df['host_identity_verified'].replace(np.nan, 'unconfirmed', inplace=True)
df['cancellation_policy'].replace(np.nan, 'moderate', inplace=True)
df['review_rate_number'].replace(np.nan, 5, inplace=True)
df['minimum_nights'].replace(np.nan, 1, inplace=True)
df['availability_365'].replace(np.nan, 0, inplace=True)
df['calculated_host_listings_count'].replace(np.nan, 1, inplace=True)
df['number_of_reviews'].replace(np.nan, 0, inplace=True)

<h3>Handle unrealistic date values</h3>
<h4>Future Dates Value found in column <code>last_review</code>. Here will replace future dates and NaT to mean_date.</h4>

In [81]:
df['last_review'] = pd.to_datetime(df['last_review']) # Resetting the index for better readability
print(df['last_review'].sort_values(ascending=False))

255      2058-06-16
483      2040-06-16
318      2026-03-28
191      2025-06-26
127      2024-08-15
            ...
102035          NaT
102037          NaT
102045          NaT
102051          NaT
102056          NaT
Name: last_review, Length: 102058, dtype: datetime64[ns]

In [83]:
# Define a realistic upper limit (today's date, for example)
from datetime import datetime
today = pd.to_datetime(datetime.today().date())

# Filter valid dates (excluding future errors)
valid_dates = df[df['last_review'] <= today]['last_review'] 

# Calculate mean date
mean_date = valid_dates.mean()

print(f"Calculated Mean Date: {mean_date}")

Calculated Mean Date: 2019-06-10 18:47:53.419776768

In [85]:
# Replace NaT values with mean date
df['last_review'].fillna(mean_date, inplace=True)

# Replace unrealistically high dates with mean date
df.loc[df['last_review'] > today, 'last_review'] = mean_date

print(df['last_review'].sort_values(ascending=False).head())

127     2024-08-15
1       2022-05-21
1099    2022-05-05
69275   2022-05-05
784     2022-05-04
Name: last_review, dtype: datetime64[ns]

<h3>Replace <code>reviews_per_month</code> null values by Mean</h3>

In [105]:
df['reviews_per_month'].value_counts()

reviews_per_month
1.00     17272
0.03      1665
0.05      1489
0.09      1264
0.04      1260
         ...
9.10         1
10.36        1
8.50         1
15.32        1
33.08        1
Name: count, Length: 1016, dtype: int64

In [107]:
avg_mth_views = round(df['reviews_per_month'].astype('float').mean(axis=0),0)
print(f"Average monthly reviews:{avg_mth_views}")

Average monthly reviews:1.0

In [109]:
df['reviews_per_month'].replace(np.nan, 1, inplace=True)

<h3> Convert <code>instant_bookable</code> to `Boolean`type and replace NaN with Top Value Count  </h3>

In [112]:
df['instant_bookable'] = df['instant_bookable'].astype(str).str.strip().str.lower()
df['instant_bookable'] = df['instant_bookable'].fillna('false')  # Replace NaN first
df['instant_bookable'] = df['instant_bookable'].eq('true')  # Convert to Boolean

In [114]:
df['instant_bookable'].value_counts()

instant_bookable
False    51291
True     50767
Name: count, dtype: int64

<h3>Use Forward Filling and Backward Filling</h3>
<

In [100]:
df['construction_year'].fillna(method='ffill', inplace=True)  # Fill forward first
df['construction_year'].fillna(method='bfill', inplace=True)  # Then fill backward

<H3> Handling NaN house_rules</H3>
<h4> Although there are 50% null value, but there are still more than 50K rows with vlaues which may useful for further analysis. Therefore, we will replace the NaN with <code>No specific rules provided<code> </h4>

In [88]:
print(f"house_rules null values: {df['house_rules'].isnull().sum()}")

house_rules null values: 51842

In [90]:
df['house_rules'].fillna('No specific rules provided', inplace=True)

<h3>Now review again the null values in the list</h3>

In [93]:
df.isnull().sum().sort_values(ascending=False)

neighbourhood_group               29
neighbourhood                     16
lat                                8
long                               8
id                                 0
minimum_nights                     0
availability_365                   0
calculated_host_listings_count     0
review_rate_number                 0
reviews_per_month                  0
last_review                        0
number_of_reviews                  0
price                              0
service_fee                        0
host_identity_verified             0
construction_year                  0
room_type                          0
cancellation_policy                0
instant_bookable                   0
house_rules                        0
dtype: int64

<h3>Change categorial data type to Category</h3>

In [116]:
df = df.astype({'cancellation_policy':'category','room_type':'category','host_identity_verified':'category', 'review_rate_number':'category'})

<h3>Remove Rows with Nan Values  </h3>
<h4>Below columns contribute less than 0.5% null values of its column, we will choose to drop the row with null values</h4>
- neighbourhood_group...... 29<br>
- neighbourhood............ 16<br>
- lat...................... 8<br>
- long..................... 8<br>

In [119]:
# REVIEW selected rows with NaN Values
nan_rows = df[df[['neighbourhood_group', 'neighbourhood', 'lat', 'long']].isnull().any(axis=1)]
nan_rows

,id,host_identity_verified,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
74,1042206,unconfirmed,NaN,Washington Heights,40.83139,-73.94095,True,moderate,Private room,2011.0,571.0,114.0,2.0,49.0,2019-06-18 00:00:00.000000000,1.60,2.0,2.0,0.0,The usual courtesies apply: - No smoking - No ...
75,1042759,unconfirmed,NaN,Clinton Hill,40.68346,-73.96374,True,strict,Private room,2014.0,398.0,80.0,2.0,105.0,2019-06-26 00:00:00.000000000,0.92,1.0,1.0,0.0,Shoes off please Cat can go in or out as he de...
76,1043311,verified,NaN,East Village,40.72828,-73.98801,False,strict,Entire home/apt,2018.0,618.0,124.0,5.0,21.0,2019-01-02 00:00:00.000000000,0.20,4.0,1.0,0.0,no smoking quiet
77,1043863,verified,NaN,Upper East Side,40.76865,-73.95058,False,strict,Private room,2007.0,116.0,23.0,1.0,142.0,2019-07-06 00:00:00.000000000,1.50,4.0,1.0,0.0,I'm a semi kosher vegetarian which means that ...
78,1044415,unconfirmed,NaN,Woodside,40.75038,-73.90334,True,flexible,Private room,2012.0,54.0,11.0,30.0,25.0,2019-06-10 18:47:53.419776768,0.22,2.0,1.0,0.0,No Street Shoes allowed in House. No cooking K...
90,1051043,unconfirmed,NaN,Williamsburg,40.71156,-73.96218,False,moderate,Private room,2015.0,266.0,53.0,3.0,174.0,2019-06-22 00:00:00.000000000,1.54,5.0,4.0,0.0,Dryer and Washing Machine are in Basement (1.0...
91,1051595,unconfirmed,NaN,Bushwick,40.70032,-73.93830,False,moderate,Private room,2012.0,728.0,146.0,4.0,24.0,2019-06-10 18:47:53.419776768,0.28,5.0,1.0,0.0,"To enjoy, relax, feel safe and cozy. Also, kee..."
92,1052148,unconfirmed,NaN,Prospect Heights,40.68233,-73.97261,False,flexible,Entire home/apt,2021.0,583.0,117.0,4.0,166.0,2019-06-27 00:00:00.000000000,3.40,2.0,1.0,0.0,We ask that guests be respectful as there are ...
148,1083076,verified,NaN,East Village,40.72354,-73.98295,False,strict,Entire home/apt,2003.0,625.0,119.0,3.0,30.0,2019-06-17 00:00:00.000000000,0.28,5.0,1.0,344.0,No Smoking No Pets No Parties
161,1090256,unconfirmed,NaN,Williamsburg,40.71088,-73.95055,False,moderate,Private room,2022.0,1020.0,204.0,4.0,202.0,2019-05-28 00:00:00.000000000,1.86,5.0,2.0,377.0,"No smoking in the apartment, even with the win..."
168,1094122,unconfirmed,NaN,Clinton Hill,40.68843,-73.96408,True,strict,Private room,2004.0,925.0,185.0,149.0,294.0,2019-06-24 00:00:00.000000000,1.00,3.0,3.0,311.0,NaN
196,1109587,verified,NaN,Chelsea,40.74859,-73.99671,True,flexible,Private room,2021.0,267.0,53.0,1.0,375.0,2019-06-18 00:00:00.000000000,3.52,3.0,1.0,0.0,ANDREA'S HOUSE RULES: ** All overnight guests...
206,1115110,unconfirmed,NaN,Prospect Heights,40.67870,-73.97262,False,strict,Private room,2013.0,936.0,187.0,2.0,226.0,2019-06-06 00:00:00.000000000,2.12,4.0,3.0,263.0,This is a non smoking house. Quiet hours are ...
241,1134440,verified,NaN,East Harlem,40.80942,-73.93936,False,flexible,Entire home/apt,2011.0,252.0,50.0,3.0,135.0,2019-06-20 00:00:00.000000000,1.30,1.0,3.0,109.0,I'm a semi kosher vegetarian which means that ...
249,1138859,unconfirmed,NaN,Bushwick,40.68800,-73.91710,True,moderate,Entire home/apt,2022.0,1028.0,206.0,3.0,111.0,2019-06-10 18:47:53.419776768,2.13,5.0,1.0,150.0,Please review the terms of this rental agreeme...
262,1146039,verified,NaN,Eastchester,40.88057,-73.83572,True,flexible,Entire home/apt,2016.0,909.0,182.0,2.0,38.0,2019-06-27 00:00:00.000000000,0.50,4.0,13.0,0.0,Please do not let any of the animals outside! ...
287,1159846,unconfirmed,NaN,Williamsburg,40.71031,-73.95830,False,moderate,Entire home/apt,2007.0,387.0,77.0,1.0,9.0,2019-02-16 00:00:00.000000000,0.11,4.0,1.0,323.0,Maximum of 2 guests staying in the studio. No...
295,1164265,unconfirmed,NaN,Harlem,40.82976,-73.94867,False,flexible,Private room,2019.0,960.0,192.0,30.0,64.0,2018-07-06 00:00:00.000000000,0.68,1.0,1.0,52.0,#NAME?
307,1170892,verified,NaN,Chinatown,40.71659,-73.98945,True,flexible,Entire home/apt,2014.0,651.0,130.0,25.0,43.0,2019-06-17 00:00:00.000000000,0.42,5.0,1.0,87.0,- No shoes in apartment - No parties - Enjoy y...
319,1177520,verified,NaN,Williamsburg,40.71398,-73.95763,False,strict,Private room,2017.0,1080.0,216.0,2.0,220.0,2019-06-22 00:00:00.000000000,2.17,3.0,2.0,361.0,NaN
361,1200716,verified,NaN,Queens Village,40.72413,-73.76133,True,moderate,Private room,2015.0,671.0,134.0,1.0,43.0,2019-07-08 00:00:00.000000000,0.45,5.0,1.0,150.0,- no shoes inside - quiet after 8:30pm
384,1213419,unconfirmed,NaN,Harlem,40.82399,-73.95328,True,moderate,Private room,2013.0,1083.0,217.0,14.0,35.0,2019-06-01 00:00:00.000000000,0.35,5.0,1.0,61.0,I feel very responsible and accountable for yo...
415,1230541,unconfirmed,NaN,Williamsburg,40.71363,-73.96019,True,strict,Entire home/apt,2022.0,852.0,170.0,3.0,150.0,2019-07-05 00:00:00.000000000,1.55,3.0,1.0,0.0,NaN
448,1248766,unconfirmed,NaN,Bedford-Stuyvesant,40.68669,-73.91989,False,moderate,Private room,2013.0,999.0,200.0,1.0,27.0,2017-10-08 00:00:00.000000000,0.28,1.0,4.0,181.0,NaN
465,1258156,unconfirmed,NaN,East Village,40.72636,-73.98917,True,strict,Entire home/apt,2010.0,515.0,103.0,2.0,280.0,2019-07-05 00:00:00.000000000,2.92,1.0,3.0,94.0,NaN
488,1270858,verified,NaN,East Harlem,40.79320,-73.94007,False,strict,Entire home/apt,2007.0,1133.0,227.0,2.0,15.0,2016-02-15 00:00:00.000000000,0.16,5.0,1.0,326.0,Please remember that this is a residential bui...
492,1273068,verified,NaN,Harlem,40.80518,-73.95359,False,strict,Private room,2016.0,945.0,189.0,5.0,43.0,2018-01-03 00:00:00.000000000,0.47,3.0,2.0,147.0,NaN
517,1286875,unconfirmed,Brooklyn,NaN,40.71580,-73.95803,False,moderate,Entire home/apt,2005.0,625.0,130.0,6.0,1.0,2016-01-01 00:00:00.000000000,0.02,5.0,1.0,266.0,1. No parties. 2. Respect the neighbors. Nois...
547,1303444,verified,Manhattan,NaN,40.73089,-73.98195,True,strict,Entire home/apt,2013.0,749.0,150.0,30.0,25.0,2018-04-30 00:00:00.000000000,0.26,4.0,1.0,67.0,NaN
553,1306758,unconfirmed,Manhattan,NaN,40.71300,-73.99752,True,flexible,Private room,2019.0,613.0,123.0,1.0,172.0,2019-07-02 00:00:00.000000000,1.84,5.0,2.0,63.0,Please be gentle with the furniture and applia...
575,1318909,unconfirmed,Manhattan,NaN,40.79816,-73.96190,True,strict,Entire home/apt,2014.0,892.0,178.0,2.0,45.0,2019-04-22 00:00:00.000000000,0.47,4.0,3.0,4.0,NaN
589,1326641,verified,Brooklyn,NaN,40.68012,-73.97847,False,strict,Private room,2003.0,793.0,159.0,2.0,23.0,2018-09-15 00:00:00.000000000,0.24,1.0,6.0,0.0,Please remember that this is a residential bui...
613,1339896,verified,Manhattan,NaN,40.72709,-73.98274,True,moderate,Private room,2004.0,486.0,97.0,1.0,109.0,2015-10-02 00:00:00.000000000,1.15,2.0,1.0,116.0,#NAME?
624,1345971,unconfirmed,Manhattan,NaN,40.75348,-73.97065,False,moderate,Entire home/apt,2019.0,417.0,83.0,30.0,136.0,2019-06-19 00:00:00.000000000,1.45,4.0,1.0,272.0,Please remember that this is a residential bui...
633,1350942,verified,Manhattan,NaN,40.71693,-73.98948,False,flexible,Entire home/apt,2017.0,1148.0,230.0,5.0,8.0,2018-05-18 00:00:00.000000000,0.11,3.0,1.0,42.0,NaN
643,1356465,verified,Brooklyn,NaN,40.68016,-73.94878,False,moderate,Entire home/apt,2015.0,938.0,188.0,3.0,5.0,2017-07-09 00:00:00.000000000,0.05,2.0,1.0,408.0,Smoking is allowed on the patio only. No pets ...
670,1371377,verified,Brooklyn,NaN,40.73641,-73.95330,False,strict,Entire home/apt,2006.0,104.0,21.0,3.0,24.0,2018-11-06 00:00:00.000000000,0.32,4.0,28.0,419.0,NaN
678,1375795,verified,Brooklyn,NaN,40.73693,-73.95316,False,moderate,Entire home/apt,2018.0,914.0,183.0,3.0,30.0,2019-07-03 00:00:00.000000000,0.32,5.0,28.0,296.0,House Rules Welcome to Boston-Furnished-Rental...
681,1377452,unconfirmed,Brooklyn,NaN,40.73783,-73.95259,True,flexible,Private room,2009.0,528.0,106.0,3.0,3.0,2015-11-03 00:00:00.000000000,0.03,2.0,28.0,216.0,PLEASE NOTE: • 6.25% MA State Sales Tax is al...
726,1402306,verified,Manhattan,NaN,40.76217,-73.98411,True,moderate,Entire home/apt,2003.0,831.0,166.0,5.0,8.0,2015-01-08 00:00:00.000000000,0.09,3.0,1.0,322.0,Please Note: This unit was just renovated in A...
731,1405067,unconfirmed,Manhattan,NaN,40.78304,-73.97447,False,flexible,Entire home/apt,2005.0,624.0,125.0,30.0,16.0,2019-03-31 00:00:00.000000000,0.17,4.0,5.0,24.0,"No smoking, no pets, no parties please. Respec..."
760,1421084,verified,Brooklyn,NaN,40.72723,-73.95728,True,strict,Private room,2020.0,745.0,149.0,4.0,6.0,2019-04-21 00:00:00.000000000,0.07,3.0,1.0,20.0,NaN
770,1426607,unconfirmed,Brooklyn,NaN,40.65992,-73.99042,False,strict,Entire home/apt,2007.0,1111.0,222.0,180.0,1.0,2016-09-01 00:00:00.000000000,0.03,4.0,1.0,163.0,NaN
779,1431578,unconfirmed,Brooklyn,Crown Heights,NaN,NaN,False,strict,Private room,2003.0,539.0,108.0,1.0,1.0,2017-03-18 00:00:00.000000000,0.04,2.0,1.0,41.0,- Weekly and monthly prices are much lower - P...
785,1434892,unconfirmed,Brooklyn,Greenpoint,NaN,NaN,False,strict,Entire home/apt,2021.0,1058.0,212.0,5.0,14.0,2019-06-19 00:00:00.000000000,0.16,5.0,1.0,226.0,We live and let live - hoping that you'd be re...
799,1442624,verified,Manhattan,East Village,NaN,NaN,False,flexible,Private room,2010.0,506.0,101.0,6.0,1.0,2013-05-06 00:00:00.000000000,0.01,1.0,1.0,240.0,Expect respect for the family and the space--t...
814,1450908,verified,Manhattan,West Village,NaN,NaN,True,strict,Entire home/apt,2003.0,381.0,76.0,20.0,157.0,2016-08-11 00:00:00.000000000,1.71,4.0,1.0,61.0,"Please keep it clean, thats all we really ask ..."
843,1466925,verified,Queens,Elmhurst,NaN,NaN,True,strict,Private room,2005.0,224.0,45.0,1.0,63.0,2019-05-18 00:00:00.000000000,0.89,3.0,2.0,70.0,NaN
885,1490122,unconfirmed,Brooklyn,Greenpoint,NaN,NaN,True,flexible,Private room,2019.0,524.0,105.0,14.0,22.0,2019-05-02 00:00:00.000000000,0.25,1.0,1.0,266.0,"Pets are cool (just clean up after them!), smo..."
926,1512766,unconfirmed,Manhattan,Flatiron District,NaN,NaN,False,strict,Private room,2020.0,623.0,125.0,21.0,0.0,2019-06-10 18:47:53.419776768,1.00,2.0,1.0,104.0,NaN
986,1545904,unconfirmed,Manhattan,Upper West Side,NaN,NaN,True,flexible,Private room,2014.0,413.0,83.0,1.0,25.0,2013-06-22 00:00:00.000000000,0.28,2.0,1.0,259.0,No Smoking No Pets
40383,23304867,unconfirmed,NaN,Bushwick,40.69085,-73.90937,False,flexible,Private room,2011.0,312.0,62.0,1.0,0.0,2019-06-10 18:47:53.419776768,1.00,4.0,1.0,269.0,NaN
40396,23312047,unconfirmed,NaN,Upper West Side,40.79471,-73.96918,False,moderate,Private room,2012.0,175.0,35.0,4.0,2.0,2019-02-22 00:00:00.000000000,0.37,2.0,1.0,0.0,No pets. No smoking. Please :)

In [121]:
print(f"Total rows before dropping: {len(df)}")
print(f"Rows to be removed: {len(nan_rows)}")

Total rows before dropping: 102058
Rows to be removed: 53

In [123]:
#Remove rows use dropna() on selected columns
df_cleaned = df.dropna(subset=['neighbourhood_group', 'neighbourhood', 'lat', 'long'])

In [125]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102005 entries, 0 to 102057
Data columns (total 20 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102005 non-null  int64
 1   host_identity_verified          102005 non-null  category
 2   neighbourhood_group             102005 non-null  object
 3   neighbourhood                   102005 non-null  object
 4   lat                             102005 non-null  float64
 5   long                            102005 non-null  float64
 6   instant_bookable                102005 non-null  bool
 7   cancellation_policy             102005 non-null  category
 8   room_type                       102005 non-null  category
 9   construction_year               102005 non-null  float64
 10  price                           102005 non-null  float64
 11  service_fee                     102005 non-null  float64
 12  minimum_nights                  102005 non-null  float64
 13  number_of_reviews               102005 non-null  float64
 14  last_review                     102005 non-null  datetime64[ns]
 15  reviews_per_month               102005 non-null  float64
 16  review_rate_number              102005 non-null  category
 17  calculated_host_listings_count  102005 non-null  float64
 18  availability_365                102005 non-null  float64
 19  house_rules                     50178 non-null   object
dtypes: bool(1), category(4), datetime64[ns](1), float64(10), int64(1), object(3)
memory usage: 12.9+ MB

In [127]:
df_cleaned.isnull().sum()

id                                    0
host_identity_verified                0
neighbourhood_group                   0
neighbourhood                         0
lat                                   0
long                                  0
instant_bookable                      0
cancellation_policy                   0
room_type                             0
construction_year                     0
price                                 0
service_fee                           0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                     0
review_rate_number                    0
calculated_host_listings_count        0
availability_365                      0
house_rules                       51827
dtype: int64

<h3>Export Clean data for data analysis</h3>

In [131]:
df_cleaned.to_csv('/Users/kammiehui/Jupyter Notebook/DataSet/Airbnb_Open_Data_Clean.csv', index = False)